<h1>Edit Cohort</h1>

<%= link_to("Back to Cohorts", cohorts_path, :class => 'back-link') %>


<%= bootstrap_form_for @cohort do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :startdate %>
  <%= f.text_field :enddate %>
  <%= f.select :instructor_id, Instructor.all.ids %>
  <%= f.select :course_id, Course.all.ids %>
  <%= f.submit %>
<% end %>

<%= link_to 'Delete', instructor_path(@cohort), method: 'delete', data: { confirm: "Are you sure you want to delete #{@cohort.name}?" } %>
