<h1>Cohorts#new</h1>

<%= link_to("Back to Cohorts", cohorts_path, :class => 'back-link') %>

  <%= bootstrap_form_for @cohort do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :startdate %>
    <%= f.text_field :tuition %>
    <%= f.number_field :instructor_id %>
    <%= f.number_field :course_id %>
    <%= f.submit %>
  <% end %>
