<div id="target-for-change">
  <% if !flash[:notice].blank? %>
    <div class="notice alert alert-primary" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <h1>Students</h1>

  <%= link_to("Back to Students", students_path, :class => 'back-link') %>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Degree</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= @student.fname %></td>
        <td><%= @student.lname %></td>
        <td><%= @student.age %></td>
        <td><%= @student.email %></td>
        <td><%= @student.degree %></td>
        <td>
          <%= link_to("Edit", edit_student_path(@student.id), :class => 'action edit') %> |
          <%= link_to 'Delete', student_path(@student.id), method: 'delete', data: { confirm: "Are you sure you want to delete #{@student.fname} #{@student.lname}?" } %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
