<h1>Students#edit</h1>

<%= link_to("Back to Students", students_path, :class => 'back-link') %>


<%= bootstrap_form_for @student do |f| %>
    <%= f.text_field :fname %>
    <%= f.text_field :lname %>
    <%= f.text_field :email %>
    <%= f.submit %>
<% end %>


<%= link_to 'Delete', student_path(@student), method: :delete %>
