<h1>Edit Student</h1>

<%= link_to("Back to Students", students_path, :class => 'back-link') %>


<%= bootstrap_form_for @student do |f| %>
    <%= f.text_field :fname %>
    <%= f.text_field :lname %>
    <%= f.number_field :age, :max => 150 %>
    <%= f.text_field :email %>
    <%= f.select :degree, ['HS', 'College', 'Masters', 'PHD'] %>
    <%= f.submit %>
<% end %>


<%= link_to 'Delete', student_path(@student), method: :delete, data: { confirm: "Are you sure you want to delete #{@student.fname} #{@student.lname}?" } %>
