<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>Students#show</h1>

<%= link_to("Back to Students", students_path, :class => 'back-link') %>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Cohorts</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @student.fname %></td>
      <td><%= @student.lname %></td>
      <td><%= @student.email %></td>
      <td><%= Cohort.find_by(id: @cohorts.cohort_id).name %></td>
      <td><%= link_to("Show", student_path(@student.id), :class => 'action show') %>
        <%= link_to("Edit", edit_student_path(@student.id), :class => 'action edit') %>
        <%= link_to 'Delete', student_path(@student.id), method: 'delete' %>
      </td>
    </tr>
  </tbody>
</table>
