<h1>Instructors#edit</h1>

<%= link_to("Back to Instructors", instructors_path, :class => 'back-link') %>


<%= bootstrap_form_for @instructor do |f| %>
    <%= f.text_field :fname, value: @instructor.fname%>
    <%= f.text_field :lname, value: @instructor.lname%>
    <%= f.text_field :email, value: @instructor.email%>
    <%= f.submit %>
<% end %>


<%= link_to 'Delete', instructor_path(@instructor), method: 'delete' %>
