<div id='target-for-change'>

  <h1>Instructors#index</h1>

  <% if !flash[:notice].blank? %>
    <div class="notice alert alert-primary" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Degree</th>
        <th scope="col">Salary</th>
        <th scope="col">Cohorts</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% x = 0 %>
      <% @instructors.each do |i| %>
      <tr>
        <td><%= i.fname %></td>
        <td><%= i.lname %></td>
        <td><%= i.email %></td>
        <td><%= i.degree %></td>
        <td><%= i.salary %></td>
        <td><%= Cohort.find_by(instructor_id: i.id).name %></td>
        <td><%= link_to("Show", instructor_path(i), remote: true) %> |
          <%= link_to("Edit", edit_instructor_path(i), :class => 'action edit') %> |
          <%= link_to('Delete', instructor_path(i), method: 'delete', data: { confirm: "Are you sure you want to delete #{i.fname} #{i.lname}?" }) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to("Add New Instructor", new_instructor_path, :class => 'action new') %>

</div>
