<h1>Instructors#index</h1>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% x = 0 %>
    <% @instructors.each do |i| %>
    <tr>
      <th scope="row"><%= x += 1 %></th>
      <td><%= i.fname %></td>
      <td><%= i.lname %></td>
      <td><%= i.email %></td>
      <td><%= link_to("Show", instructor_path(i), :class => 'action show') %>
        <%= link_to("Edit", edit_instructor_path(i), :class => 'action edit') %>
        <%= link_to 'Delete', instructor_path(i), method: 'delete' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to("Add New Instructor", new_instructor_path, :class => 'action new') %>
