<h1>Instructors#new</h1>

<%= link_to("Back to Instructors", instructors_path, :class => 'back-link') %>

<%= bootstrap_form_for @instructor do |f| %>
    <%= f.text_field :fname %>
    <%= f.text_field :lname %>
    <%= f.text_field :email %>
    <%= f.submit %>
<% end %>
