<div id="target-for-change">
  <h1>Courses</h1>

  <%= link_to("Back to Courses", courses_path, :class => 'back-link') %>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Tuition</th>
        <th scope="col">hours</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= @course.code %></td>
        <td><%= @course.name %></td>
        <td><%= @course.tuition %></td>
        <td><%= @course.hours %></td>
        <td>
          <%= link_to("Edit", edit_course_path(@course), :class => 'action edit') %> |
          <%= link_to "Delete", course_path(@course), remote: true, method: 'delete', data: { confirm: "Are you sure you want to delete #{@course.name}?" } %>
        </td>
      </tr>
    </tbody>
  </table>

  <h1>Course Cohorts</h1>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">Instructor</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cohorts.each do |c| %>
      <tr>
        <th scope="row">1</th>
        <td><%= c.name %></td>
        <td><%= c.startdate %></td>
        <% if c.instructor_id == nil %>
          <td>n/a</td>
        <% else %>
          <td><%= Instructor.find(c.instructor_id).fname %> <%= Instructor.find(c.instructor_id).lname %></td>
        <% end %>
        <td><%= link_to("Show", cohort_path(c), remote: true) %> |
          <%= link_to("Edit", edit_cohort_path(c), :class => 'action edit') %> |
          <%= link_to "Delete", cohort_path(c), remote: true, method: 'delete', data: { confirm: "Are you sure you want to delete #{c.name}?" } %>
        </td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>
