<h1>Courses#edit</h1>

<%= link_to("Back to Courses", courses_path, :class => 'back-link') %>

<div>
  <%= bootstrap_form_for @course do |f| %>
    <%= f.text_field :code, value: @course.code %><br/>
    <%= f.text_field :description, value: @course.description %><br/>
    <%= f.text_field :tuition, value: @course.tuition %><br/>
    <%= f.submit %>
  <% end %>
</div>
