<h1>Courses#edit</h1>

<%= link_to("Back to Courses", courses_path, :class => 'back-link') %>

<div>
  <%= bootstrap_form_for @course do |f| %>
    <%= f.text_field :code, value: @course.code %><br/>
    <%= f.text_field :name, value: @course.name %><br/>
    <%= f.number_field :tuition, value: @course.tuition %><br/>
    <%= f.number_field :hours, value: @course.hours %><br/>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to "Delete", course_path(c), method: 'delete', data: { confirm: "Are you sure you want to delete #{@course.name}?" } %>
