<h1>Courses#edit</h1>

<%= link_to("Back to Courses", courses_path, :class => 'back-link') %>

<div>
  <%= bootstrap_form_for @course do |f| %>
    <%= f.text_field :code %>
    <%= f.text_field :name %>
    <%= f.number_field :tuition, :min => 0 %>
    <%= f.number_field :hours %>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to "Delete", course_path(@course), method: 'delete', data: { confirm: "Are you sure you want to delete #{@course.name}?" } %>
