<h1>Courses#new</h1>

<%= link_to("Back to Courses", courses_path, :class => 'back-link') %>

<div>
  <%= bootstrap_form_for @course do |f| %>
    <%= f.text_field :code %>
    <%= f.text_field :description %>
    <%= f.text_field :tuition %>
    <%= f.submit %>
  <% end %>
</div>
